@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./../assets/Web/inter.css";

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVar", sans-serif;
      font-optical-sizing: auto;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 11pt;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*::-webkit-scrollbar {
  @apply bg-gray-1/20 w-3 h-3;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-1 rounded-full;
}

body {
  @apply selection:bg-primary-11 selection:text-primary-3 text-gray-12 gap-y-24 flex flex-col justify-center items-center min-h-screen bg-gray-1 font-[450] relative;
}